.logInPage {
  justify-content: center;
  width: 50%;
  margin: auto;
  position: relative;
  top: -30vh;
}
.formgroup {
  display: flex;
  justify-content: center;
}
.formgroup button {
  height: 45px;
  width: 170px;
  box-shadow: 0 5px 5px rgb(4 4 4 / 56%);
  border-radius: 10px;
  border: none;
  margin: 5px;
  cursor: pointer;
}
